includes:
	- phpstan-baseline.neon
parameters:
    level: 8
    paths:
        - src
    bootstrapFiles:
        - stan_autoload.php
    treatPhpDocTypesAsCertain: false
    reportMaybesInPropertyPhpDocTypes: false
    checkImplicitMixed: true
